<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="card d-inline-flex p-2">
        <div class="card-body">
          <h2 class="card-title">Log in</h2>
          <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
            </div>
            <div class="mb-3 form-check">
              <% if devise_mapping.rememberable? %>
                <%= f.check_box :remember_me, class: "form-check-input" %>
                <%= f.label :remember_me, class: "form-check-label" %>
              <%end%>
            </div>
            <%= f.submit "Log in", class: "btn btn-primary" %>
          </form>
          <br><%= render "devise/shared/links" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-sm-2"></div>
</div>




