<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-light bg-light position-sticky">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Portfolio</span>      
      <div class="btn-group" role="group" aria-label="Basic outlined example">
        <% if user_signed_in? %>
          <p class="mt-2"> Logged in as &nbsp; <strong><%= current_user.email %></strong> | </p>
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'btn btn-outline-primar' %>
          <%= link_to "Logout", destroy_user_session_path, method: :get, :class => 'btn btn-outline-primar'  %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-outline-primar'  %>
          <%= link_to "Login", new_user_session_path, :class => 'btn btn-outline-primar'  %>
        <% end %>
      </div>
    </div>
  </nav>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  <p class="navbar-text float-right">
  
  </p>
    <%= yield %>
  </body>
</html>

